SECRET_KEY=django-insecure-h=ulpc@t*39ze57z0qety5hk++h%bdo&*j7n)kpcj%c8(k+0u6
DEBUG=False

DATABASE_NAME=django_blog_db
DATABASE_USER=postgres
DATABASE_PASSWORD=Your_pass
DATABASE_HOST=Your_host
DATABASE_PORT=Your_port
DATABASE_SCHEMA=Your_Own_Schema
OPENAI_API_KEY=Your_API_Key